@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row title-row">
    <div class="fill-screen" style="background-image: url(images/Banner/slider-4.jpg)">
        <div class="row-title">
            <h2>Welcome to Lake Creek Ranch</h2>
            <p>102 Acre subdivision near beautiful Troy, MT</p>
        </div>
        <div class="down-button">
            <a class="btn" href="#section-sales">
                <i class="fa fa-arrow-circle-down fa-4x"></i>
            </a>
        </div>
    </div>
</div>


<section id="section-sales" class="topmargin-lg">    
    <div class="heading-block center">
        <h2>Cabin Available For <span>Sale</span></h2>
        <span>65 Lakota Loop</span><br><span>See <a href="http://mymobile.flexmls.com/TracyNicely/listings/link/20170928165326388800000000" target="_blank"><span>MLS </span>Listing</a> for pricing and details.</span>
    </div>
</section>

<section id="section-cabin-details" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Cabin Details</h2>
        <span>65 Lakota Loop</span>
    </div>
</section>
<section id="section-about-us" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Who we are</h2>
        <span>Meet Doug and DeAnn Thomas</span>
    </div>

    <div class="container clearfix">

        <div class="col-md-6 bottommargin">
            <div class="team-image">
                <img src="images/team/team-1.jpg" alt="Doug and DeAnn">
            </div>
        </div>
        <div class="col-md-6 bottommargin">
            <div class="team-desc">
                <div class="team-title"><span>Real Estate Developers</span></div>
                <div class="team-content">We fell in love with Montana while visiting friends in Troy over 10 years ago. At that time, we invested in this 102 acre parcel and have been developing it over the years.  We moved to Coeur d'Alene, Idaho  in the summer of 2015 with our youngest of 5 children.  We are originally from Auburn, California.  Our family has enjoyed many wonderful times in Northwest Montana, with its pristine lakes and rivers.  Many happy memories have been made boating on Bull Lake with friends and family.  You can play all day and practically have the whole lake to yourself! </div>

            </div>
        </div>

    </div>

</section>

<section id="section-property-details" class="topmargin-lg">
    <div class="heading-block center">
        <h2>The Property</h2>
        <span>Beautiful, wooded land with views of the cabinet mountains, abundant wildlife and endless possibilities for building your Montana dream home.  The property is ideal for horse and animal lovers alike.  Lots of level room for pastured horses and man's best friend.</span><br />
        <span>Phase 1 and 2 lots are now available.  11 lots ranging from 3 to 7 acres.  Contact us for more information</span>
    </div>
</section>

<section id="section-surrounding-area" class="topmargin-lg">
    <div class="heading-block center">
        <h2>The Surrounding Area</h2>
        <span>The property is located off of Highway 56, 5 miles from Bull Lake, which offers calm water for the water sports enthusiast and some of the best fishing in the Northwest</span>
        <span>The property is accross the highway from Taylor Peak staging area leading into the Cabinet Mountain Wilderness trail systems. </span>
    </div>
    <div id="nanogallery2" data-nanogallery2='{
          "thumbnailHeight":  235,
          "thumbnailWidth":   235,
          "itemsBaseURL":     "/images/Area/",
         "thumbnailGutterWidth": 1,
         "thumbnailGutterHeight": 1,
         "thumbnailBorderHorizontal": 0,
         "thumbnailBorderVertical": 0,
         "displayDescription": true,
         "position": "onBottom"
        }'>
        <a href="Area-1.jpg" data-ngThumb="Thumbnails/Area-1.jpg" data-ngDesc="1 hour to this quaint little town">Hope Idaho</a>
        <a href="Area-2.jpg" data-ngThumb="Thumbnails/Area-2.jpg" data-ngDesc="The largest lake in Idaho">Lake Pend Oreille</a>
        <a href="Area-3.jpg" data-ngThumb="Thumbnails/Area-3.jpg" data-ngDesc="Kootenai Falls Swinging bridge">Swinging Bridge</a>
        <a href="Area-4.jpg" data-ngThumb="Thumbnails/Area-4.jpg" data-ngDesc="Hike the trails and enjoy the outdoors">Cabinet Mountains</a>
        <a href="Area-11.jpg" data-ngThumb="Thumbnails/Area-11.jpg" data-ngDesc="Beautiful views and lake activities">Bull Lake</a>
        <a href="Area-6.jpg" data-ngThumb="Thumbnails/Area-6.jpg" data-ngDesc="Enjoy the views and trails">Kootenai Falls</a>
        <a href="Area-9.jpg" data-ngThumb="Thumbnails/Area-9.jpg" data-ngDesc="Be inspired with it's beauty">Northwest Montana</a>
        <a href="Area-8.jpg" data-ngThumb="Thumbnails/Area-8.jpg" data-ngDesc="Fishing, floating, and adventures">Kootenai River</a>
        <a href="Area-5.jpg" data-ngThumb="Thumbnails/Area-5.jpg" data-ngDesc="Breathtaking Montana Aventures">Bull Lake</a>
        <a href="Area-7.jpg" data-ngThumb="Thumbnails/Area-7.jpg" data-ngDesc="Explore the Views of the Old West">The Old West</a>
    </div>    
</section>

<section id="section-contact-us" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Contact Us</h2>
        <span>Insert Phone information here</span>
    </div>
</section>


@section Scripts {
    
}
