@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row title-row fill-screen stellar-bg" style="background-image: url(/images/Banner/slider-4.jpg)" data-stellar-background-ratio="0.3">
    <div class="">
        <div class="row-title">
            <h2>Welcome to Lake Creek Ranches</h2>
            <p>102 Acre subdivision near beautiful Troy, MT</p>
        </div>
        <div class="down-button">
            <a class="btn" href="#section-sales">
                <i class="fa fa-arrow-circle-down fa-4x"></i>
            </a>
        </div>
    </div>
</div>

<section id="section-introduction" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Custom home sites in scenic Northwest Montana</h2>
        <span class="team-content">Picturesque Troy, Montana is situated halfway between Sandpoint, ID and Kalispell, MT, gateway to Glacier National Park. Lake Creek Ranches offers 16, 3-15 acre parcels zoned for horse property in a gated community, including 2 waterfront lots. Enjoy some of Montana's best hunting and fishing from your vacation cabin or year round homestead on this beautiful acreage.  The Cabinet Mountain trail head, Bull Lake, and the Kootenai River are just minutes away. A new construction home on 3 acres is now for sale, fully furnished! Ski Schweitzer Mt. Resort, a scenic 65 mile drive from the property. Launch your boat into nearby Bull Lake, Lake Koocanusa, or Pend Oreille. The possibilities are endless for outdoor recreation in this quiet corner of Montana!</span>
    </div>
</section>

<section id="section-sales" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Cabin Available For <span>Sale</span></h2>
        <span>65 Lakota Loop</span><br><span>See <a href="http://www.flexmls.com/link.html?1dagluk1cw4q,1,1,10770" target="_blank"><span>MLS </span>Listing</a> for pricing and details.</span>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-8">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="~/images/homesite/homesite-8.jpg" alt="Why choose Us?">
                </div>
                <div class="fbox-desc">
                    <h3>Rustic Charm<span class="subtitle">With Modern Conviences</span></h3>
                    <p>New construction home, situated on 3 acres with a main level master suite, 3 bedrooms, 2 1/2 baths, open office area, and a bonus room over the garage. This tastefully designed home is a perfect combination of modern amenities and rustic charm and is being sold fully furnished as seen is these photos. Guest log cabin is included with this property as well.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-8">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="~/images/homesite/homesite-7.jpg" alt="Why choose Us?">
                </div>
                <div class="fbox-desc">
                    <h3>Spacious Back Porch<span class="subtitle">Beautiful Views of the Cabinet Mountains.</span></h3>
                    <p>Spacious, covered back deck provides beautiful views of the Cabinet Mountains and plenty of room to entertain the whole family.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-8">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="~/images/homesite/homesite-3.jpg" alt="Guest Cabin">
                </div>
                <div class="fbox-desc">
                    <h3>Guest Cabin<span class="subtitle">Authentic Amish Log Cabin</span></h3>
                    <p>A perfect place for your summer guests to relax in their own space. A 500+ square foot authentic Amish log cabin.  1 bedroom, 1 bath with a kitchenette and antique wood burning stove.  Includes washer and dryer.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-cabin-details" class="topmargin-lg dark stellar-bg parallax"
         style="background-image: url(images/Parallax/parallax-2.jpg);padding: 80px 0px;"
         data-stellar-background-ratio="0.3">

    <div class="col-md-3 col-sm-6 center" data-animate="bounceIn">
        <i class="fa fa-home fa-4x"></i>
        <div class="counter counter-lined">2524 Sq Ft</div>
        <h5>Includes Bonus Room and Guest Cabin</h5>
    </div>
    <div class="col-md-3 col-sm-6 center" data-animate="bounceIn" data-delay="200">
        <i class="fa fa-user fa-4x"></i>
        <div class="counter counter-lined">4 Beds</div>
        <h5>Including Guest Cabin</h5>
    </div>
    <div class="col-md-3 col-sm-6 center" data-animate="bounceIn" data-delay="400">
        <i class="fa fa-tint fa-4x"></i>
        <div class="counter counter-lined">3 1/2 Baths</div>
        <h5>Including Guest Cabin</h5>
    </div>
    <div class="col-md-3 col-sm-6 center" data-animate="bounceIn" data-delay="600">
        <i class="fa fa-picture-o fa-4x"></i>
        <div class="counter counter-lined">3 Acres</div>
        <h5>Wooded and graded</h5>
    </div>

</section>

<section id="section-cabin" class="page-section topmargin-lg">

    <div class="heading-block center">
        <h2>The Cabin</h2>
        <span>Pictures of this beautiful home and acreage.</span>
    </div>
    <div id="nanogallery3" data-nanogallery2='{
          "thumbnailHeight":  285,
          "thumbnailWidth":   285,
          "itemsBaseURL":     "/images/Portfolio/Cabin/",
         "thumbnailGutterWidth": 1,
         "thumbnailGutterHeight": 1,
         "thumbnailBorderHorizontal": 0,
         "thumbnailBorderVertical": 0,
         "displayDescription": true,
         "position": "onBottom",
         "thumbnailHoverEffect2": "labelAppear75"
        }'>
        <a href="cabin-12.jpg" data-ngThumb="Thumbnails/cabin-12.jpg">The Cabin Sketch</a>
        <a href="cabin-10.jpg" data-ngThumb="Thumbnails/cabin-10.jpg">Main Floor</a>
        <a href="cabin-11.jpg" data-ngThumb="Thumbnails/cabin-11.jpg">Upper Floor</a>
        <a href="cabin-1.jpg" data-ngThumb="Thumbnails/cabin-1.jpg" data-ngDesc="Modern Conviences, Rustic Look">The Cabin</a>
        <a href="cabin-2.jpg" data-ngThumb="Thumbnails/cabin-2.jpg" data-ngDesc="Entertainment with Views">Covered Rear Porch</a>
        <a href="cabin-3.jpg" data-ngThumb="Thumbnails/cabin-3.jpg" data-ngDesc="Evergreens, Aspens and Tamerak">Beautiful Wooded Views</a>
        <a href="cabin-4.jpg" data-ngThumb="Thumbnails/cabin-4.jpg" data-ngDesc="Cozy cottage for your guests">Guest Cabin</a>
        <a href="cabin-5.jpg" data-ngThumb="Thumbnails/cabin-5.jpg" data-ngDesc="Furnished Cabin Purchase Option">Beautiful Details</a>
        <a href="cabin-6.jpg" data-ngThumb="Thumbnails/cabin-6.jpg" data-ngDesc="Cabinet Mountain Views">Mountain Views</a>
        <a href="cabin-8.jpg" data-ngThumb="Thumbnails/cabin-8.jpg" data-ngDesc="3 sided porch featuring rustic hanging lanturns">Charming Porches</a>
        <a href="cabin-9.jpg" data-ngThumb="Thumbnails/cabin-9.jpg" data-ngDesc="3 acre lot">Spacious Lot</a>
        <a href="cabin-13.jpg" data-ngThumb="Thumbnails/cabin-13.jpg" data-ngDesc="With covered Breezeway">Detached Garage</a>
        <a href="cabin-14.jpg" data-ngThumb="Thumbnails/cabin-14.jpg" data-ngDesc="">Guest Bedroom</a>
        <a href="cabin-15.jpg" data-ngThumb="Thumbnails/cabin-15.jpg" data-ngDesc="">Guest Bedroom Details</a>
        <a href="cabin-33.jpg" data-ngThumb="Thumbnails/cabin-33.jpg" data-ngDesc="">Guest Bedroom View 2</a>
        <a href="cabin-16.jpg" data-ngThumb="Thumbnails/cabin-16.jpg" data-ngDesc="">Study Space</a>
        <a href="cabin-34.jpg" data-ngThumb="Thumbnails/cabin-34.jpg" data-ngDesc="">Upstairs Bath</a>
        <a href="cabin-19.jpg" data-ngThumb="Thumbnails/cabin-19.jpg" data-ngDesc="">Guest Bedroom 2</a>
        <a href="cabin-20.jpg" data-ngThumb="Thumbnails/cabin-20.jpg" data-ngDesc="">Guest Bedroom 2</a>
        <a href="cabin-21.jpg" data-ngThumb="Thumbnails/cabin-21.jpg" data-ngDesc="">Barn Doors</a>
        <a href="cabin-22.jpg" data-ngThumb="Thumbnails/cabin-22.jpg" data-ngDesc="">Kitchen View 1</a>
        <a href="cabin-23.jpg" data-ngThumb="Thumbnails/cabin-23.jpg" data-ngDesc="">Kitchen View 2</a>
        <a href="cabin-24.jpg" data-ngThumb="Thumbnails/cabin-24.jpg" data-ngDesc="">Kitchen View 3</a>
        <a href="cabin-25.jpg" data-ngThumb="Thumbnails/cabin-25.jpg" data-ngDesc="">Kitchen Bar</a>
        <a href="cabin-27.jpg" data-ngThumb="Thumbnails/cabin-27.jpg" data-ngDesc="">Living Room</a>
        <a href="cabin-35.jpg" data-ngThumb="Thumbnails/cabin-35.jpg" data-ngDesc="">Living Room</a>
        <a href="cabin-36.jpg" data-ngThumb="Thumbnails/cabin-36.jpg" data-ngDesc="">Living Room Stairs</a>
        <a href="cabin-31.jpg" data-ngThumb="Thumbnails/cabin-31.jpg" data-ngDesc="">Master Bedroom</a>
        <a href="cabin-32.jpg" data-ngThumb="Thumbnails/cabin-32.jpg" data-ngDesc="">Master Bedroom</a>
        <a href="cabin-37.jpg" data-ngThumb="Thumbnails/cabin-37.jpg" data-ngDesc="">Master Bath</a>
        <a href="cabin-39.jpg" data-ngThumb="Thumbnails/cabin-39.jpg" data-ngDesc="">Half Bath</a>
    </div>

</section>

<section id="section-about-us" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Who we are</h2>
        <span>Meet Doug and DeAnn Thomas</span>
    </div>

    <div class="container clearfix">

        <div class="col-md-6 bottommargin">
            <div class="team-image">
                <img src="images/team/team-1.jpg" alt="Doug and DeAnn">
            </div>
        </div>
        <div class="col-md-6 bottommargin">
            <div class="team-desc">
                <div class="team-title"><span>Real Estate Developers</span></div>
                <div class="team-content">We fell in love with Montana while visiting friends in Troy over 10 years ago. At that time, we invested in this 102 acre parcel and have been developing it over the years.  Our family has enjoyed many wonderful times in Northwest Montana, with its pristine lakes and rivers.  Many happy memories have been made boating on Bull Lake with friends and family.  You can play all day and practically have the whole lake to yourself! </div>

            </div>
        </div>

    </div>

</section>


<section id="section-cabin-details" class="topmargin-lg dark stellar-bg parallax"
         style="background-image: url(images/Parallax/parallax-5.jpg);padding: 80px 0px;"
         data-stellar-background-ratio="0.3">

    <div class="heading-block center nobottomborder nobottommargin">
        <h2>"Some of the best hunting and fishing in the Northwest."</h2>
    </div>


</section>

<section id="section-property-details" class="page-section topmargin-lg">

    <div class="heading-block center">
        <h2>The Property</h2>
        <span>Beautiful, wooded land with views of the Cabinet Mountains, abundant wildlife and endless possibilities for building your Montana dream home.  The property is ideal for horse and animal lovers alike.  Lots of level room for pastured horses and man's best friend.</span><br />
        <span>Phase 1 and 2 lots are now available.  11 lots ranging from 3 to 7 acres.  Contact us for more information</span>
    </div>
    <div id="nanogallery2" data-nanogallery2='{
          "thumbnailHeight":  285,
          "thumbnailWidth":   285,
          "itemsBaseURL":     "/images/Homesite/thumbnails/",
         "thumbnailGutterWidth": 1,
         "thumbnailGutterHeight": 1,
         "thumbnailBorderHorizontal": 0,
         "thumbnailBorderVertical": 0,
         "displayDescription": true,
         "position": "onBottom",
         "thumbnailHoverEffect2": "labelAppear75"
        }'>
        <a href="homesite-7.jpg" data-ngThumb="homesite-7.jpg" data-ngDesc="">Beautiful Mountain Views</a>
        <a href="homesite-2.jpg" data-ngThumb="homesite-2.jpg" data-ngDesc="">Property Details</a>
        <a href="homesite-10.jpg" data-ngThumb="homesite-10.jpg" data-ngDesc="">Lake Creek</a>
        <a href="homesite-11.jpg" data-ngThumb="homesite-11.jpg" data-ngDesc="">Phase 1 Area</a>
        <a href="homesite-9.jpg" data-ngThumb="homesite-9.jpg" data-ngDesc="">Property View</a>
        <a href="homesite-4.jpg" data-ngThumb="homesite-4.jpg" data-ngDesc="Tamaraks, Evergreens, and Aspens">Amazing Forest</a>
        <a href="homesite-3.jpg" data-ngThumb="homesite-3.jpg" data-ngDesc="">Lake Creek Access</a>
        <a href="homesite-6.jpg" data-ngThumb="homesite-6.jpg" data-ngDesc="">Private Gated Entrance</a>
        <a href="homesite-8.jpg" data-ngThumb="homesite-8.jpg" data-ngDesc="">Lake Creek</a>
    </div>

</section>

<section id="section-google-map" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Map of the property</h2>
    </div>
    <div class="container clearfix">
        <div class="col-lg-8 col-lg-offset-2">
            <div id="map"></div>
        </div>
    </div>
</section>

<section id="section-surrounding-area" class="topmargin-lg">
    <div class="heading-block center">
        <h2>The Surrounding Area</h2>
        <span>The property is located off of Highway 56, 5 miles from Bull Lake, which offers calm water for the water sports enthusiast and some of the best fishing in the Northwest</span>
        <span>The property is accross the highway from Taylor Peak staging area leading into the Cabinet Mountain Wilderness trail systems. </span>
    </div>
    <div id="nanogallery4" data-nanogallery2='{
          "thumbnailHeight":  235,
          "thumbnailWidth":   235,
          "itemsBaseURL":     "/images/Area/",
         "thumbnailGutterWidth": 5,
         "thumbnailGutterHeight": 5,
         "thumbnailBorderHorizontal": 0,
         "thumbnailBorderVertical": 0,
         "displayDescription": true,
         "position": "onBottom"
        }'>
        <a href="Area-1.jpg" data-ngThumb="Thumbnails/Area-1.jpg" data-ngDesc="1 hour to this quaint little town">Hope Idaho</a>
        <a href="Area-2.jpg" data-ngThumb="Thumbnails/Area-2.jpg" data-ngDesc="The largest lake in Idaho">Lake Pend Oreille</a>
        <a href="Area-3.jpg" data-ngThumb="Thumbnails/Area-3.jpg" data-ngDesc="Kootenai Falls Swinging bridge">Swinging Bridge</a>
        <a href="Area-4.jpg" data-ngThumb="Thumbnails/Area-4.jpg" data-ngDesc="Hike the trails and enjoy the outdoors">Cabinet Mountains</a>
        <a href="Area-11.jpg" data-ngThumb="Thumbnails/Area-11.jpg" data-ngDesc="Beautiful views and lake activities">Bull Lake</a>
        <a href="Area-6.jpg" data-ngThumb="Thumbnails/Area-6.jpg" data-ngDesc="Enjoy the views and trails">Kootenai Falls</a>
        <a href="Area-9.jpg" data-ngThumb="Thumbnails/Area-9.jpg" data-ngDesc="Be inspired with it's beauty">Northwest Montana</a>
        <a href="Area-8.jpg" data-ngThumb="Thumbnails/Area-8.jpg" data-ngDesc="Fishing, floating, and adventures">Kootenai River</a>
        <a href="Area-5.jpg" data-ngThumb="Thumbnails/Area-5.jpg" data-ngDesc="Breathtaking Montana Aventures">Bull Lake</a>
        <a href="Area-7.jpg" data-ngThumb="Thumbnails/Area-7.jpg" data-ngDesc="Explore the Views of the Old West">The Old West</a>
    </div>
</section>

<section id="section-contact-us" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Get In Touch With Us</h2>
        <span>Still have questions?</span>
    </div>
    <div class="container clearfix">


        <div class="row nobottommargin clearfix">

            <div class="col-md-3 center">
                <div class="feature-box fbox-center fbox-bg fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa fa-phone-square fa-5x"></i></a>
                    </div>
                    <h3>Speak to Us<span class="subtitle">(208) 209-3412</span></h3>
                </div>
            </div>

            <div class="col-md-3 center">
                <div class="feature-box fbox-center fbox-bg fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa fa-phone-square fa-5x"></i></a>
                    </div>
                    <h3>Doug<span class="subtitle">(916) 622-3827</span></h3>
                </div>
            </div>

            <div class="col-md-3 center">
                <div class="feature-box fbox-center fbox-bg fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa fa-5x fa-phone-square"></i></a>
                    </div>
                    <h3>DeAnn<span class="subtitle">(916) 276-0017</span></h3>
                </div>
            </div>
            <div class="col-md-3 center">
                <div class="feature-box fbox-center fbox-bg fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa fa-envelope-open fa-5x"></i></a>
                    </div>
                    <h3>Email Us<span class="subtitle"><a href="mailto:djthomas07@gmail.com">Doug</a> / <a href="mailto:vistastables@gmail.com">DeAnn</a></span></h3>
                </div>
            </div>

        </div>
    </div>

</section>

@section Scripts {
    
}
