@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="fill-screen" style="background-image: url(images/Banner/slider-4.jpg)">
    </div>
</div>

<section id="section-sale" class="topmargin-lg">    
    <div class="heading-block center">
        <h2>Cabin Available For <span>Sale</span></h2>
        <span>65 Lakota Loop</span><br><span>See <a href="http://mymobile.flexmls.com/TracyNicely/listings/link/20170928165326388800000000" target="_blank"><span>MLS </span>Listing</a> for pricing and details.</span>
    </div>
</section>


@section Scripts {
    <script>
        $(function () {
            $(window).on("load resize", function () { 
                $(".fill-screen").css("height", window.innerHeight - 50);
            });
        });
    </script>
}
