@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row title-row">
    <div class="fill-screen" style="background-image: url(images/Banner/slider-4.jpg)">
        <div class="row-title">
            <h2>Welcome to Lake Creek Ranch</h2>
            <p>102 Acre subdivision near beautiful Troy, MT</p>
        </div>
        <div class="down-button">
            <a class="btn" href="#section-sales">
                <i class="fa fa-arrow-circle-down fa-4x"></i>
            </a>
        </div>
    </div>
</div>


<section id="section-sales" class="topmargin-lg">    
    <div class="heading-block center">
        <h2>Cabin Available For <span>Sale</span></h2>
        <span>65 Lakota Loop</span><br><span>See <a href="http://mymobile.flexmls.com/TracyNicely/listings/link/20170928165326388800000000" target="_blank"><span>MLS </span>Listing</a> for pricing and details.</span>
    </div>
</section>

<section id="section-cabin-details" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Cabin Details</h2>
        <span>65 Lakota Loop</span>
    </div>
</section>
<section id="section-about-us" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Who we are</h2>
        <span>Meet Doug and DeAnn Thomas</span>
    </div>
</section>
<section id="section-contact-us" class="topmargin-lg">
    <div class="heading-block center">
        <h2>Contact Us</h2>
        <span>Insert Phone information here</span>
    </div>
</section>


@section Scripts {
    
}
