@page
@model LakeCreekRanch.Web.Pages.Admin.DevelopmentPhases.CreateModel

@{
    ViewData["Title"] = "Create Development Phase";
}

<h2>Create</h2>

<h4>DevelopmentPhase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DevelopmentPhase.Name" class="control-label"></label>
                <input asp-for="DevelopmentPhase.Name" class="form-control" />
                <span asp-validation-for="DevelopmentPhase.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevelopmentPhase.StartDate" class="control-label"></label>
                <input asp-for="DevelopmentPhase.StartDate" class="form-control" />
                <span asp-validation-for="DevelopmentPhase.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevelopmentPhase.CompleteDate" class="control-label"></label>
                <input asp-for="DevelopmentPhase.CompleteDate" class="form-control" />
                <span asp-validation-for="DevelopmentPhase.CompleteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="DevelopmentPhase.HideFromWebsite" /> @Html.DisplayNameFor(model => model.DevelopmentPhase.HideFromWebsite)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
