@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@AdminNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">Admin Home</a></li>    
    <li class="@AdminNavPages.IndexNavClass(ViewContext)"><a asp-page="./DevelopmentPhases/Index">Development Phase</a></li>    
</ul>

