@page
@model LakeCreekRanch.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Admin Home</h2>
<p>Welcome to the admin pages for Lake Creek Homes.  Please use the navigation on the left to maintain the information on the website.</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
